
__pycache__/
*.py[cod]
*.so
*.dylib            
venv/
.env/


.ipynb_checkpoints/

.vscode/
.idea/

checkpoints/  
data/processed/
data/synthetic/
data/mlrod/raw_csv/
bad_files.log
runs/
out/
*.out
*.log
*.save/


FORCE_SETS
RGDOS.dat
supercell-*.lmp
eig_*.yaml
data.mos2

*.png
*.pdf

*.pt                    
*.npy              

.DS_Store
checkpoints/
data/rruff/
