__pycache__/
*.py[cod]
*.so
*.dylib
venv/
.env/
.ipynb_checkpoints/
.vscode/
.idea/
checkpoints/
runs/
out/
*.out
*.log
*.save
*.pt
data/processed/
data/synthetic/
data/mlrod/raw_csv/
data/rruff/
*.npy
bad_files.log
FORCE_SETS
RGDOS.dat
supercell-*.lmp
eig_*.yaml
data.mos2

*.pdf
.DS_Store
